.bg-color-red {
    color: white;
    background-color: rgb(189, 56, 56);

}

.bg-color-blue {
    color: white;
    background-color: rgb(30, 123, 177);
}

.bg-color-green {
    color: white;
    background-color: rgb(21, 148, 78);
}

